*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.idea/*
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
projectFilesBackup
/moneybox/gradlew
/moneybox/gradlew.bat
/local/*
!/local/keep
/fastlane/.env.default
/fastlane/README.md
/fastlane/report.xml
/gradle-user-home
